<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="komal.Properties.Settings.productsdataConnectionString"
      connectionString="Data Source=|DataDirectory|\productsdata.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="komal.Properties.Settings.proConnectionString" connectionString="Data Source=|DataDirectory|\pro.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="masterEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-848LD0K;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="komal.Properties.Settings.masterConnectionString"
      connectionString="Data Source=DESKTOP-848LD0K;Initial Catalog=master;Integrated Security=True;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <add name="MYCONN" connectionString="Data Source=DESKTOP-848LD0K;Initial Catalog=master;Integrated Security=True;MultipleActiveResultSets=true" providerName=""/>
  </connectionStrings>
</configuration>